.remark {
	padding: 7px 10px;
	background: #f8f9fa;
	border: 1px solid #eaecf0;
	line-height: 24px
}


@media (prefers-color-scheme: dark) {
	.remark {
		background-color: #27292D;
		border-color: #27292D;
	}
}

.remark + .remark {
	border-top: none;
	margin-top: -1em;
}

@media (min-width: 300px) {
	.remark--inline {
		display: grid;
		grid-template-columns: 1fr 2fr auto;
	}
}

.remark__verb {
	grid-column: 1;
	grid-row: span 2;
	font-weight: bold;
	position: sticky;
	top: var(--top-offset, 7px);
	transition: top .25s;
}

@media (max-width: 299px) {
	.remark__verb {
		margin: 0 0 .75em 0;
	}
}

.remark__object {
	grid-column: 2;
	margin-bottom: .5em;
	padding: 0;
	min-width: 0;
}

.remark__check {
	grid-column: 3;
	margin: auto;
	padding: 0;
}

.remark--block > .remark__object {
	margin: 0;
}

@media (max-width: 299px) {
	.remark__object {
		margin: 0;
	}
}

small {
	font-size: .5em;
	line-height: 1;
}