.direction {
	font-size: 50vw;
	text-align: center;
	color: #c8ccd1;
	user-select: none;
}

.direction--flippable {
	cursor: pointer;
}

@media (prefers-color-scheme: dark) {
	.direction {
		color: #606060;
	}
}