.motive {	
	position: relative;
}

.motive__field {
	box-shadow: inset 0 0 0 1px transparent;
	transition: border-color 250ms, box-shadow 250ms;
	height: 2.5em;
	background-color: #fff;
	color: #000;
	margin: 0;
	border: 1px solid #a2a9b1;
	border-radius: 2px;
	padding: 6px 8px;
	font-size: inherit;
	font-family: inherit;
	display: block;
	width: 100%;
}

.motive__magnifier {
	position: absolute;
	right: 0;
	line-height: 2.5em;
	top: 0;
	display: block;
	width: 3em;
	text-align: center;
}

.motive__field:focus {
	outline: 1px solid #36c;
	outline-offset: -2px;
	border-color: #36c;
	box-shadow: inset 0 0 0 1px #36c;
}