.entity-selector {
  -moz-appearance: button;
  background-color: #6F6F6F !important;
  border-radius: 1em !important;
  border: 1px solid !important;
  color: white !important;
  cursor: pointer !important;
  display: inline-block !important;
  font-family: sans-serif !important;
  font-size: .75em !important;
  height: auto !important;
  line-height: 1.2 !important;
  margin: 0 .5em .5em 0 !important; 
  padding: .25em 1em !important;
  text-decoration: none !important;
  text-indent: 0 !important;
  transition: background .5s !important;
  user-select: none !important;
  width: auto !important;
}

.entity-selector::before,
.entity-selector::after {
	cursor: pointer;
	display: none !important;
}

.entity-selector--selectable {
  background-color: #339966 !important;
  }

.entity-selector--selected {
  background-color: #006699 !important;
}

.entity-selector--queued {
  min-width: 3em !important;
  min-height: 1em !important;
  display: inline-block !important;
  background-image: linear-gradient( 135deg, 
    #339966 0%,
    #339966 25%,
    #006699 25%,
    #006699 50%,
    #339966 50%,
    #339966 75%,
    #006699 75%,
    #006699 100%
  ) !important;
  background-size: 2em 2em !important;
  animation: working 3s linear infinite !important;
}

@keyframes working {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 200% 0;
  }
}