.entity-selector {
	cursor: pointer;
}

.entity-selector::before {
	content: '(';
}

.entity-selector::after {
	content: ')';
}

.entity-selector--selectable {
  display: inline-block !important;
  height: auto !important;
  width: auto !important;
  background: #339966;
  border: 1px solid;
  padding: .25em 1em;
  margin: 0 .5em .5em 0;
  border-radius: 1em;
  cursor: pointer;
  font-size: .75em;
  user-select: none;
  line-height: 1.2;
  text-decoration: none !important;
  color: white !important;
  -moz-appearance: button;
}

.entity-selector--selected {
  background-color: #006699;
}

.entity-selector--selectable::before,
.entity-selector--selectable::after {
	content: '';
}