.mojination {
	position: fixed;
	text-align: center;
	line-height: 50vh;
	top: 0;
	left: 0;
	right: 0;
	transition: transform .25s;
	pointer-events: none;
	z-index: 1;
}

.mojination--hidden {
	transform: translateX(-100%);
}

.mojination:hover {
	transform: none;
}

.mojination__moji {
	display: inline-block;
	font-size: 2em;
	height: 2em;
	width: 2em;
	background: #273863;
	text-align: center;
	color: white;
	line-height: 2em;
	border-radius: 1em;
	pointer-events: auto;
	margin: 1em;
}

.mojination__moji:hover {
	text-decoration: none;
}