.picture {
	position: relative;
}

.picture img {
	vertical-align: bottom;
}

.picture__tag {
	position: absolute;
	top: 1em;
	left: 1em;
}

.picture__caption {
	position: absolute;
	right: 0;
	bottom: 0;
	padding: .5em;
	background: #000000cc;
	color: white;
}