.picture {
	position: relative;
}

.picture img {
	vertical-align: bottom;
}

.picture__tag {
	position: absolute;
	top: 1em;
	left: 1em;
}

.picture__caption {
	position: absolute;
	right: 0;
	bottom: 0;
	padding: .5em;
	background: #000000cc;
	color: white;
	line-height: 1.2;
	text-align: right;
	font-size: .75em;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

@media (max-width: 340px) {
	.picture__caption {
		font-size: 3vw;
	}
}

.picture__attribution {
	text-align: right;
}

.picture__caption a {
	color: inherit;
}