.rosetta,
.rosetta__group:only-child {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(10em, 1fr));
	grid-gap: 1em;
}

.rosetta__group:only-child {
	grid-gap: 0 1em;
}

.rosetta__group {
	margin: 0;
}

.rosetta__lang {
	font-weight: bold;
	margin-bottom: .5em;
	grid-column: 1 / -1;
}

.rosetta__lang > a {
	color: inherit;
}

.rosetta__words {
	margin: 0 0 .5em 0;
	display: grid;
	grid-template-columns: auto 1fr;
	grid-gap: .5em;
}