html {
  scroll-behavior: smooth;
}

body {
	color: #222222;
	margin: 1em;
	font-size: 14px;
  font-family:-apple-system,'BlinkMacSystemFont','Segoe UI','Roboto','Lato','Helvetica','Arial',sans-serif;
  user-select: text;
  line-height: 1.2;
}

a:hover {
  text-decoration: underline;
}

a {
  text-decoration: none;
  color: #3366cc;
  hyphens: none;
}

[hidden] {
  display: none !important;
}

img {
  max-width: 100%;
}

audio,
video {
  width: 100%;
}

.placeholder {
  color: #eaecf0;
  white-space: break-word;
  font-size: .6em;
}

.url {
  word-wrap: anywhere;
}

ol {
  padding-left: 2.25em;
}

ol > li {
  margin-bottom: 10px;
}

li:target {
  background-color: #eaf3ff;
}

figure {
  margin: 0;
}

figcaption {
  font-size: .35em;
  line-height: 1;
}

code {
  font-family: 'Menlo','Consolas','Liberation Mono','Courier New',monospace;
  border: solid 1px #c8ccd1;
  white-space: nowrap;
  padding: .05em .5em;
  display: inline-block;
  max-width: calc(100% - 1em);
  font-size: .8em;
  overflow: auto;
  scrollbar-width: thin;
  vertical-align: bottom;
  user-select: all;
}

sup {
  font-size: 10px;
  line-height: 1;
}

button {
  background-color: #447ff5;
  border-color: #447ff5;
  color: white;
  padding-top: 6px;
  padding-bottom: 6px;
  line-height: 1.28571429em;
  border-style: solid;
  border-width: 1px;
  border-radius: 2px;
  padding-left: 12px;
  padding-right: 12px;
  font-weight: bold;
  font-size: 17px;
}

input {
  height: 2.28571429em;
  box-sizing: border-box;
  padding: 6px 8px;
  border-radius: 2px;
  border: 1px solid #a2a9b1;
  font-size: 16px;
  flex-grow: 1;
}
