body {
	color: #222222;
	margin: 1em;
	font-size: 16px;
  font-family:-apple-system,'BlinkMacSystemFont','Segoe UI','Roboto','Lato','Helvetica','Arial',sans-serif;
  user-select: text;
  line-height: 1.2;
}

a:hover {
  text-decoration: underline;
}

a {
  text-decoration: none;
  color: #3366cc;
  hyphens: none;
}

img {
  max-width: 100%;
}

.placeholder {
  color: #eaecf0;
  white-space: break-word;
}

.url {
  word-wrap: anywhere;
}

figure {
  margin: 0;
}

figcaption {
  font-size: .35em;
  line-height: 1;
}

code {
  font-family: 'Menlo','Consolas','Liberation Mono','Courier New',monospace;
  border: solid 1px #c8ccd1;
  white-space: pre-wrap;
  word-wrap: anywhere;
  padding: .05em .25em;
  display: inline-block;
  max-width: 100%;
  font-size: .8em;
}

sup {
  font-size: 80%;
}

