.join {	
	position: relative;
}

.join__field {
	box-shadow: inset 0 0 0 1px transparent;
	transition: border-color 250ms, box-shadow 250ms;
	height: 2.5em;
	background-color: #fff;
	color: #000;
	margin: 0;
	border: 1px solid #a2a9b1;
	border-radius: 2px;
	padding: 6px 8px;
	font-size: inherit;
	font-family: inherit;
	display: block;
	width: 100%;
	box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
	.join__field {
		background-color: #44464A;
		color: white;
		border-color: #26292D;
	}
}

.join__id {
	position: absolute;
	right: 0;
	font-size: .75em;
	line-height: 1.2em;
	top: 0;
	display: block;
	width: max-content;
	border: none;
	background: transparent;
	text-align: right;
	direction: rtl;
	padding-right: .5em;
}

.join__field:focus {
	outline: 1px solid #36c;
  outline-offset: -2px;
  border-color: #36c;
  box-shadow: inset 0 0 0 1px #36c;
}

.join__proposals {
	background: white;
	margin-top: -2px;
	border: 1px solid #a2a9b1;
	border-top: none;
	position: relative;
	padding: 1px;
	padding-top: 2px;
}

@media (prefers-color-scheme: dark) {
	.join__proposals {
		background-color: #44464A;
		border-color: #26292D;
	}
}

.join__field:focus + .join__proposals {
	padding-left: 0;
	padding-right: 0;
	border: 2px solid #36c;
	border-top: none;
}

.join__proposals:empty {
	display: none;
}

.join__proposal {
	display: block;
	width: calc(100% - 4px);
	padding: 6px;
	background: transparent;
	border: none;
	border: 1px solid #a2a9b1;
	border-radius: 2px;
	margin: 2px;
	cursor: pointer;
	box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
	.join__proposal {
		color: white;
		border-color: #26292D;
	}
}

.join__proposal:hover,
.join__proposal:focus {
	background: #36c;
	border-color: #36c;
	color: white;
	outline: none;
}

.join__proposal__desc--placeholder {
	opacity: .5;
}
