.flex {
	border-collapse: collapse;
	width: 100%;
}

.flex > tbody > tr >	th {
	text-align: left;
}

.flex td,
.flex th {
	border: 1px solid #eaecf0;
	padding: .4em 0.8em;
	vertical-align: top;
}

@media (prefers-color-scheme: dark) {
	.flex td,
	.flex th {
		border-color: #44464A;
	}
}

.flex th {
	background-color: #f8f9fa;
}

@media (prefers-color-scheme: dark) {
	.flex th {
		background-color: #27292D;
	}
}