.actions__actions {
	padding: 0;
	border-top: 1px solid #CCD0D4;
	border-bottom: 1px solid #CCD0D4;
	background: white;
}

@media (prefers-color-scheme: dark) {
	.actions__actions {
		background: #2E3136;
		border-top-color: #44464A;
		border-bottom-color: #44464A;
	}
}

.actions__action {
	display: block;
	padding: 1em;
}

.actions__headline {
	font-family: -apple-system,'BlinkMacSystemFont','Segoe UI','Roboto','Lato','Helvetica','Arial',sans-serif;
	color: #54595d;
	padding-top: .5em;
	margin: 0 1rem;
	font-size: .8em;
	font-weight: normal;
	letter-spacing: 1px;
	text-transform: uppercase;
}


.actions__action {
	display: grid;
	grid-template-rows: auto auto;
	grid-template-columns: 36px auto;
	grid-template-areas: 'moji one' 'moji two';
	grid-gap: .5em;
	cursor: pointer;	
	color: #73777B;
}

.actions__action:hover {
	text-decoration: none;
	background: rgba(0,0,0,.03);
}

.actions__moji {
	grid-area: moji;
	text-align: center;
	margin: auto;
}

.actions__title {
	grid-area: one;
	color: black;
	font-size: 1.2em;
}

@media (prefers-color-scheme: dark) {
	.actions__headline,
	.actions__title,
	.actions__action {
		color: white;
	}
}

.actions__actions__desc {
	grid-area: two;
}